doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1")
    title= title || 'title'
    link(href="/favicon.ico" rel="shortcut icon")
  body
    #header
      header
    .content.
      !{text}
      2343
    #footer
      footer
